html{
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
}

@font-face {
font-family: 'Figtree';
src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype-variations'),
 url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
font-weight: 100 900; 
font-style: normal;
font-display: swap;
}

footer{
  position: absolute;
  bottom:0px;
}

body{
  height: 100vh;
  background-color: #F4D04E;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  font-family: 'Figtree','sans-serif';
}

div{
  background-color: #FFFFFF;
  padding:24px;
  max-width: 384px;
  width:100%;
  /**max-height: 522px;**/
  border:solid #111111 1.5px;
  border-radius: 15px;
  box-shadow: 10px 10px #111111;
}

img{
  display:block;
  max-width: 100%;
  border-radius: 10px;
}

.tag{
  background-color: #F4D04E;
  width: 90px;
  text-align: center;
  padding: 2.5px;
  border:solid #F4D04E 1px;
  border-radius: 5px;
  font-weight: bold;
}

h1{
  font-size:24px;
  line-height: 150%;
  letter-spacing: 0px;
}

p{
  font-size:clamp(14px,4vw,16px);
  line-height: 150%;
  letter-spacing: 0px;
}

.info{
  color:#6B6B6B
}

h1:hover,h1:focus,h1:active{
  color: #F4D04E;
}

.profile{
  height:40px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.profile_image{
  width:40px;
  height:40px
}

.profile_desc{
  padding-inline-start: 15px;
  font-weight: bold;
}
